.container {
}
.title {
  margin: 30px;
}
.filterContainer {
  display: flex;
  justify-content: space-between;
}
.filter {
  margin: 30px;
}
.filtertext {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}
.select {
  padding: 10px;
  margin-right: 10px;
}
.option {
}
@media screen and (max-width: 480px) {
 .filter{
  width: 0px 20px;
  display: flex;
  flex-direction: column;
 }
 .filtertext{
  margin-right: 20px;
 }
 .select{
  margin: 10px 0px;
 }
}